body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
}

.hero {
    background: url('../images/spring security.png') no-repeat center center/cover;
    color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #21d31c;
}

.hero .btn {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #21d31c;
    color: #1e1e1e;
    transition: background 0.3s;
}

.hero .btn:hover {
    background: #188914;
}

.nav-link {
    color: #21d31c;
}

.nav-link:hover {
    color: #0f5e09;
}

.btn-outline-light {
    color: #21d31c;
    border-color: #21d31c;
}

.btn-outline-light:hover {
    color: #1e1e1e;
    background-color: #21d31c;
    border-color: #21d31c;
}

.display-4 {
    text-align: center;
}
h2 {
    text-align: center;
}

p {
    text-align: center;
}

ul {
    text-align: center;
}

li {
    text-align: center;
}

a {
    text-align: center;
}

form {
    text-align: center;
}